@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  font-family: "Montserrat, Helvetica, Arial sans-serif";
  color: #6E6B7B;
  font-size: 14px;   
}

/* Common css-start */
.py-100 {
  padding: 100px 0;
}

.py-50 {
  padding: 50px 0;
}

.py-30 {
  padding: 30px 0;
}

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

/* ul li {
  list-style: none;
} */

.fw-semibold {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.text-grey {
  color: #625f6e;
}

.text-darkgrey {
  color: #5e5873;
}

.bg-lightgrey {
  background-color: #d9d9d9;
}

.fs-16 {
  font-size: 16px;
}
